* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

h1, h2, h3, body {
    margin: 0;
}

.container {
    padding: 10px;
}

.block {
    margin-bottom: 10px;
    padding: 10px;
}

div div:first-child {
    background: #55B3B9;
    color: #222;
}

div:nth-child(2) {
    background: #C56060;
    margin-left: auto;
    color: rgba(34, 34, 34, 0.69);
}

div:nth-child(3) {
    background: #8FC091;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(34, 34, 34, 0.62);
}

div:nth-child(4) {
    background: #8F86AF;
    color: rgba(46, 46, 46, 0.42);
}

.block:nth-child(even) {
    width: 50%;

}

.block:nth-child(odd) {
    width: 75%;
}

h1 {
    font-size: 3.5rem;
    font-family: 'My Roboto', serif;
}

h2 {
    font-size: 2.625rem;
    font-family: 'My Roboto', serif;
}

h3 {
    font-size: 1.75rem;
    font-family: 'My Sail', serif;
}
